@font-face {
  font-family: eleme;
  src: url(//static11.elemecdn.com/eleme/desktop/media/font/eleme.ea4621.eot);
  src: local('☺︎'), url(//static11.elemecdn.com/eleme/desktop/media/font/eleme.4b3045.woff2) format('woff2'), url(//static11.elemecdn.com/eleme/desktop/media/font/eleme.aadd9e.woff) format('woff'), url(//static11.elemecdn.com/eleme/desktop/media/font/eleme.deeaed.ttf) format('truetype'), url(//static11.elemecdn.com/eleme/desktop/media/font/eleme.c72f8f.svg#eleme) format('svg');
  font-weight: 400;
  font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
  font-family: eleme;
  speak: none;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-uniE65D:before {
  content: "\e65d"
}

.icon-uniE65E:before {
  content: "\e65e"
}

.icon-renren:before {
  content: "\e627"
}

.icon-weibo:before {
  content: "\e653"
}

.icon-wechat:before {
  content: "\e654"
}

.icon-profile-right-arrow:before {
  content: "\e657"
}

.icon-profile-left-arrow:before {
  content: "\e658"
}

.icon-profile-email:before {
  content: "\e602"
}

.icon-profile-phone:before {
  content: "\e60a"
}

.icon-visit-history:before {
  content: "\e60d"
}

.icon-circle-check:before {
  content: "\e601"
}

.icon-line-order:before {
  content: "\e603"
}

.icon-line-message:before {
  content: "\e604"
}

.icon-yen:before {
  content: "\e605"
}

.icon-line-home:before {
  content: "\e606"
}

.icon-line-star:before {
  content: "\e607"
}

.icon-line-profile:before {
  content: "\e608"
}

.icon-circle:before {
  content: "\e609"
}

.icon-dot:before {
  content: "\e60b"
}

.icon-gift:before {
  content: "\e60c"
}

.icon-crown:before {
  content: "\e600"
}

.icon-logo:before {
  content: "\e60e"
}

.icon-cart:before {
  content: "\e610"
}

.icon-feedback:before {
  content: "\e611"
}

.icon-history:before {
  content: "\e613"
}

.icon-mobile:before {
  content: "\e614"
}

.icon-notice:before {
  content: "\e615"
}

.icon-order:before {
  content: "\e616"
}

.icon-QR-code:before {
  content: "\e617"
}

.icon-top:before {
  content: "\e618"
}

.icon-service:before {
  content: "\e60f"
}

.icon-uniE01E:before {
  content: "\e01e"
}

.icon-uniE02E:before {
  content: "\e02e"
}

.icon-uniE03F:before {
  content: "\e03f"
}

.icon-uniE600:before {
  content: "\e619"
}

.icon-plus:before {
  content: "\e61a"
}

.icon-minus:before {
  content: "\e61b"
}

.icon-point:before {
  content: "\e61c"
}

.icon-uniE003:before {
  content: "\e61d"
}

.icon-uniE004:before {
  content: "\e61e"
}

.icon-uniE005:before {
  content: "\e61f"
}

.icon-uniE006:before {
  content: "\e620"
}

.icon-uniE007:before {
  content: "\e621"
}

.icon-uniE008:before {
  content: "\e622"
}

.icon-close:before {
  content: "\e623"
}

.icon-star:before {
  content: "\e624"
}

.icon-favor:before {
  content: "\e625"
}

.icon-preference:before {
  content: "\e626"
}

.icon-uniE01D:before {
  content: "\e655"
}

.icon-search:before {
  content: "\e628"
}

.icon-profile:before {
  content: "\e629"
}

.icon-location:before {
  content: "\e62a"
}

.icon-setting:before {
  content: "\e62b"
}

.icon-logout:before {
  content: "\e62c"
}

.icon-uniE024:before {
  content: "\e62d"
}

.icon-uniE025:before {
  content: "\e62e"
}

.icon-undo:before {
  content: "\e62f"
}

.icon-spin:before {
  content: "\e630"
}

.icon-uniE028:before {
  content: "\e631"
}

.icon-uniE029:before {
  content: "\e632"
}

.icon-uniE02A:before {
  content: "\e633"
}

.icon-uniE02B:before {
  content: "\e634"
}

.icon-uniE02C:before {
  content: "\e635"
}

.icon-uniE02D:before {
  content: "\e636"
}

.icon-arrow-left:before {
  content: "\e637"
}

.icon-arrow-right:before {
  content: "\e638"
}

.icon-arrow-down:before {
  content: "\e639"
}

.icon-arrow-up:before {
  content: "\e63a"
}

.icon-chat-message:before {
  content: "\e63b"
}

.icon-figure:before {
  content: "\e63c"
}

.icon-uniE035:before {
  content: "\e63d"
}

.icon-email:before {
  content: "\e63e"
}

.icon-uniE037:before {
  content: "\e63f"
}

.icon-back:before {
  content: "\e640"
}

.icon-uniE039:before {
  content: "\e641"
}

.icon-uniE03A:before {
  content: "\e642"
}

.icon-help:before {
  content: "\e643"
}

.icon-uniE03C:before {
  content: "\e644"
}

.icon-uniE03D:before {
  content: "\e645"
}

.icon-uniE03E:before {
  content: "\e646"
}

.icon-lock-24:before {
  content: "\e647"
}

.icon-dot-wraning:before {
  content: "\e656"
}

.icon-circle-help:before {
  content: "\e612"
}

.icon-dot-error:before {
  content: "\e648"
}

.icon-dot-check:before {
  content: "\e649"
}

.icon-primitive-dot:before {
  content: "\e64a"
}

.icon-pin:before {
  content: "\e64b"
}

.icon-angle-double-right:before {
  content: "\e64c"
}

.icon-angle-double-left:before {
  content: "\e64d"
}

.icon-check:before {
  content: "\e64f"
}

.icon-dot-help:before {
  content: "\e650"
}

.icon-dot-warning:before {
  content: "\e651"
}

.icon-android:before {
  content: "\e652"
}

.icon-phone:before {
  content: "\e64e"
}

.icon-star-bad:before {
  content: "\e659"
}

.icon-star-good:before {
  content: "\e65b"
}

.icon-star-nofeel:before {
  content: "\e65c"
}

.icon-star-rate:before {
  content: "\e65a"
}

.icon-trash:before {
  content: "\e65f"
}

.icon-apple:before {
  content: "\e661"
}

.icon-order-arrivedone:before {
  content: "\e660"
}

.icon-order-arrive:before {
  content: "\e666"
}

.icon-order-distributiondone:before {
  content: "\e667"
}

.icon-order-distribution:before {
  content: "\e66c"
}

.icon-order-submitdone:before {
  content: "\e66d"
}

.icon-order-submit:before {
  content: "\e674"
}

.icon-order-paydone:before {
  content: "\e675"
}

.icon-order-pay:before {
  content: "\e67c"
}

.icon-order-confirmdone:before {
  content: "\e67d"
}

.icon-order-confirm:before {
  content: "\e685"
}

.icon-order-complaint:before {
  content: "\e686"
}

.icon-order-favor:before {
  content: "\e687"
}

.icon-404-home:before {
  content: "\e662"
}

.icon-404-email:before {
  content: "\e663"
}

.elemeicon {
  background: url(//static11.elemecdn.com/eleme/desktop/media/img/icon.d5d696.png) no-repeat
}

.elemeicon-hot {
  background-position: 0 -226px
}

.elemeicon-premiumsign {
  background-position: 4px -487px
}