@import "./variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "./eleme-icon.scss";
body {
  position: relative;
}

body,
button,
input,
select,
textarea {
  font: 300 1em/1.5 PingFang SC, Lantinghei SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  font-size: 12px;
}

a:hover {
  text-decoration: none;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: $gray-darker;
}

h6 {
  font-size: 12px;
  font-weight: 300;
  color: $gray;
  margin: 0;
  display: inline;
}

span.highlight {
  color: $red;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header.navbar {
  margin-bottom: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 35px;
  right: 0;
  z-index: 1001;
}

.main {
  min-height: 600px; //todo
}

.searchbar {
  height: 45px; //todo
}

.adbar {
  height: 100px; //todo
  margin: 10px 0;
}

.shopbar {
  min-height: 500px; //todo
  .tab {
    height: 45px; //todo
  }
  .filter {
    height: 155px; //todo
  }
  .tip {
    height: 45px; //todo
    margin-top: 10px;
  }
  .shops {
    min-height: 400px; //todo
    margin-top: 20px;
  }
}

footer {
  min-height: 285px; //todo
  margin-top: 50px;
  border-top: 1px solid #eee;
}

.navbar-brand {
  font-size: 32px;
  padding: 15px 20px 15px 0;
}

.navbar-nav {
  font-size: 16px;
  li {
    line-height: 30px;
    width: 144px;
    a {
      text-align: center;
    }
    .elemeicon-hot {
      width: 30px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 4px;
    }
  }
  .active {
    width: 112px;
  }
}

.navbar-default .navbar-right {
  li {
    a {
      font-size: 14px;
    }
    span {
      display: block;
      color: $white;
    }
  }
  .blur {
    width: 112px;
    a {
      color: $blue6;
    }
    a:hover {
      color: $white;
      background-color: $blue2;
      span {
        color: $white;
      }
    }
    span {
      color: $blue6;
      float: left;
      font-size: 22px;
      margin-top: -3px;
      margin-right: 3px;
    }
  }
  .sign {
    width: inherit;
    span {
      padding: 15px 0;
    }
    .icon-profile {
      font-size: 22px;
      margin-left: 75px;
      margin-right: 5px;
      padding-top: 18px;
    }
    a {
      padding-left: 0;
      padding-right: 0;
    }
    a:hover {
      background-color: $blue2;
    }
  }
}

.searchbar {
  .location {
    font-size: 12px;
    padding-top: 20px;
    span {
      color: $gray;
    }
  }
  .search {
    padding-top: 10px;
  }
  #search {
    width: 236px;
  }
}

.adbar {
  .frame {
    position: relative;
    height: 100px;
    width: 1180px;
    overflow: hidden;
    .indicators {
      position: absolute;
      bottom: 0;
      right: 5px;
      li {
        list-style-type: none;
        display: inline;
        a {
          display: inline-block;
          background-color: rgba(255, 255, 255, .5);
          color: $gray;
          width: 15px;
          text-align: center;
        }
        .active {
          background-color: #f60;
          color: $white;
        }
      }
    }
    .list-box {
      position: absolute;
    }
  }
}

.tab {
  position: relative;
  .nav-tabs {
    border-bottom: 1px solid $gray-lighter;
    > li {
      > a {
        font-size: 18px;
        border: none;
        color: $gray-dark;
        background-color: $body-bg;
        &:hover {
          background-color: $body-bg;
        }
      }
      &.active > a {
        &,
        &:hover,
        &:focus {
          color: $blue;
          background-color: $body-bg;
          border: none;
          border-bottom: 3px solid $blue;
          cursor: default;
        }
      }
    }
  }
  .takeout {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.filter {
  font-size: 14px;
  border: 1px solid $gray-lighter;
  background-color: $white;
  .filter-box {
    border-top: 1px solid $gray-lighter;
    line-height: 26px;
    padding: 10px 9px 9px 15px;
    span {
      color: $gray;
    }
    a {
      display: inline-block;
      color: $gray-dark;
      background-color: $white;
      padding: 0 10px;
      margin: 5px;
      &:hover {
        background-color: $white-darker;
      }
    }
    .active {
      color: $white;
      background-color: $blue;
      &:hover {
        background-color: $blue;
      }
    }
  }
  .sort-box {
    background-color: $white-darker;
    padding-left: 15px;
    .pull-left {
      padding: 10px 0;
      div {
        display: inline-block;
        padding-right: 20px;
        a {
          color: $gray-dark;
          &.active {
            color: $blue;
          }
        }
      }
    }
    .pull-right {
      padding: 10px 10px 10px 0;
      border-left: 1px solid $gray-lighter;
      div {
        display: inline-block;
        padding-left: 10px;
        a {
          color: $gray-dark;
        }
      }
    }
  }
}

.shops > div {
  background-color: $white;
  border: $border;
}

.recommend {
  margin-bottom: 20px;
  .col-md-12 {
    height: 37px;
    line-height: 30px;
    padding: 0 12px;
    margin: 5px 0 0 -5px;
    color: #fff;
    font-size: 16px;
    a {
      font-size: 14px;
      color: $gray-dark;
      span {
        color: $blue;
      }
      i {
        color: $gray-light;
      }
    }
  }
}

.shop {
  height: 140px;
  border-bottom: 1px $white-darker solid;
}

.shop-left-box {
  width: 70px;
  padding: 20px 0;
  position: relative;
  .shop-honor {
    position: absolute;
  }
  .shop-time {
    padding-top: 10px;
    font-size: 12px;
    color: $gray;
  }
}

.shop-right-box {
  margin-left: 90px;
  padding-top: 10px;
  font-size: 12px;
  color: $gray;
  .shop-name {
    margin-bottom: 7px;
    color: $gray-darker;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &.hover {
      color: $blue;
    }
  }
  .shop-rate {
    padding-top: 5px;
    font-size: 12px;
    .icon-stars:before {
      content: "\e624\e624\e624\e624\e624";
    }
    > div.icon-stars {
      color: $gray-light;
      position: relative;
      width: 60px;
      display: inline-block;
      > i {
        color: $yellow;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
      }
    }
  }
  .shop-price {
    padding-top: 5px;
  }
  .shop-tag {
    height: 28px;
    overflow: hidden;
    padding-top: 9px;
  }
}

.shop-out-box {
  position: absolute;
  width: 295px;
  border: 2px solid $gray-light;
  z-index: 1;
  .shop-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #ddd;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &.place-bottom-right {
    top: 0;
    right: 0;
    margin-right: -295px;
    .shop-arrow {
      border-top: 0;
      border-right: 0;
      left: -7px;
      top: 15px;
    }
  }
  &.place-bottom-left {
    top: 0;
    left: 0;
    margin-left: -295px;
    .shop-arrow {
      border-bottom: 0;
      border-left: 0;
      right: -7px;
      top: 15px;
    }
  }
  &.place-top-right {
    bottom: -2px;
    right: 0;
    margin-right: -295px;
    .shop-arrow {
      border-top: 0;
      border-right: 0;
      left: -7px;
      bottom: 20px;
    }
  }
  &.place-top-left {
    bottom: -2px;
    left: 0;
    margin-left: -295px;
    .shop-arrow {
      border-bottom: 0;
      border-left: 0;
      right: -7px;
      bottom: 20px;
    }
  }

  background-color: $white;
  padding: 16px 14px;
  .shop-favorites {
    padding-bottom: 10px;
    border-bottom: $border;
  }
  .shop-tags {
    list-style-type: none;
    padding-left: 0;
    li {
      margin: 10px 0;
      font-size: 12px;
      padding-left: 21px;
      i {
        margin-left: -21px;
      }
    }
  }
  .shop-delivery {
    background-color: $gray-lighter;
    padding:8px 0;
    > span {
      margin-left: 11px;
      padding-right: 11px;
      border-right: 1px solid $gray;

    }
    &> span:last-child{
      border-right: none;
    }
  }
  .shop-notice {
    margin-top: 20px;
  }
}

.tag {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  width: 18px;
  border-radius: 2px;
  margin-right: 3px;
  padding: 1px;
  &-jian {
    @extend .tag;
    background: rgb(204, 34, 226);
  }
  &-piao {
    @extend .tag;
    color: rgb(144, 113, 203);
    border: 1px solid;
    padding: 0px;
    background: rgb(255, 255, 255);
  }
  &-di {
    @extend .tag;
    background: rgb(76, 180, 212);
  }
  &-bao {
    @extend .tag;
    color: rgb(75, 154, 24);
    border: 1px solid;
    padding: 0px;
    background: rgb(255, 255, 255);
  }
  &-fu {
    @extend .tag;
    background: #fff;
    color: #FF4E00;
    border: 1px solid;
    padding: 0;
  }
  &-pei {
    @extend .tag;
    background: #fff;
    color: #3190E8;
    border: 1px solid;
    padding: 0;
  }
  &-xin {
    @extend .tag;
    background: #E75959;
  }
}

/*for dev*/

.white {
  background: white;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.black {
  background: black;
}

.yellow {
  background: yellow;
}

.pink {
  background: pink;
}