// rewrite variables in ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
$blue: #0089dc; //link btn
$blue2: #1e89e0; //navbar
$blue3: #26a2ff; //sidebar-hover
$blue4: #006bc7; //navbar-focus
$blue5: #0c77d1; //navbar-hover
$blue6: #a5d0f3; //navbar-blur-color

$gray-darker: #333;
$gray-dark: #666;
$gray: #999;
$gray-light: #ccc;
$gray-lighter: #e6e6e6; // most border color

$white-darker: #f5f5f5;
$white-dark: #f7f7f7;
$white: #fff;

$yellow: #ffc30c;
$red: #f74342;

$body-bg: $white-dark;

$brand-primary: $blue;
$grid-gutter-width: 40px;

$navbar-height: 60px;
$navbar-default-bg: $blue2;
$navbar-default-link-color: $white;
$navbar-default-brand-color: $white;
$navbar-default-link-active-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-active-bg: $blue4;
$navbar-default-link-hover-bg: $blue5;
$navbar-default-brand-hover-color: $white;

$input-border-radius: 0px;
$input-group-addon-bg: $white;

$border : 1px solid $gray-lighter;